# Use: "testing", "development", "production".
NODE_ENV="development"
# Server port.
PORT=8080
# == DB SETTINGS ==
DB_HOST="localhost"
DB_PORT=5432
DB_NAME="mydb"
DB_USER="mydbUser"
DB_PASS="theSecuretestPass"
# == AUTH SETTINGS ==
JWT_SECRET_TOKEN="0788ccbff5a39c3880ba85df8ed632c757646ac494cbce67b112f395e6074bfad003ac015974263d621d8c64a15b33f15f01b0f9e13ab9cd910a307a362ceaa7"
REFRESH_TOKEN_SECRET="33fdc4f96d4aba6c547b552325b3982b5f6e0b298c52da86d752d26d5dd2bd7b73369136c907737c4c9ad9327a"
TOKEN_EXP_SEC=1200
ARGON2_MEMORY_COST=32768
ARGON2_TIME_COST=4
ARGON2_HASH_LENGTH=32
ARGON2_SALT_LENGTH=16
ARGON2_PARALLELISM=4
# == TEST SETTINGS ==
# Username of an admin in the database.
ADMIN_USERNAME="mySuperAdmin"
# Password of the given administrative user.
ADMIN_PASS="TheStr0ngestP@ssword"
# == LOGGING SETTINGS ==
# "ALL", "FILE", "SHELL"
LOG_OUT="ALL"
# Please ensure that the specified folder already exists.
LOG_FILE="/logs/debug.log"
# "ALL", "DB", "LOG", "ERROR"
# Errors will be logged in all modes.
LOG_MODE="ALL"